@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-color: #6b86bd;
  --primary-hover-color: #5781d6;
  --text-color: black;
  --text-secondary: #3f3f3f;
  --grey-background: #e5e5e5;
  --gutter: 17vw;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
}

.emphasized-text {
  color: var(--primary-color);
}

.content {
  margin-top: 4rem;
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  text-align: left;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
