@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-color: #6b86bd;
  --primary-hover-color: #5781d6;
  --text-color: black;
  --text-secondary: #3f3f3f;
  --grey-background: #e5e5e5;
  --gutter: 10vw;
  --half-gutter: 5vw;
}

.content {
  margin-top: 4rem;
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  text-align: left;
}

.emphasized-text {
  color: var(--primary-color);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
}

.section-title {
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#top-content {
  margin-top: calc(80px + 10vh);
}

#hero-img {
  width: 420px;
  height: auto;
  margin-right: var(--gutter);
  margin-left: 30px;
}

.hero-content {
  background-color: #dfe3ec;
  padding-left: var(--gutter);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 80px;
}

.hero-text {
  margin-top: 4%;
  max-width: 820px;
}

.hero-subtext {
  color: var(--text-secondary);
  font-size: 20px;
}

.hero-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plans-content {
}

.plans-text {
  padding-top: 30px;
  text-align: center;
}

.cta-button {
  width: 260px;
  height: 58px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 16px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.payroll-section {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.payroll-container {
  background-color: #dfe3ec;
  width: 350px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payroll-item {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.payroll-button {
  width: 200px;
  height: 45px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 16px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  align-self: center;
}

.payroll-button:hover {
  background-color: var(--primary-hover-color);
}

.payroll-icon {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.icon-header {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.payroll-header {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

.pricing-content {
  margin-left: 15vw;
  margin-right: 15vw;
  padding-top: 10vh;

  display: flex;
}

.blob-section-border {
  position: relative;
}

#pricing-left-wave {
  position: absolute;
  left: 0;
  user-select: none;
  pointer-events: none;
}

#pricing-right-wave {
  position: absolute;
  right: 0;
  user-select: none;
  pointer-events: none;
}

.pricing-text {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .payroll-section {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .hero-content {
    flex-direction: column;
    padding-left: 7vw;
    padding-right: 5vw;
  }

  .hero-text {
    margin-top: 0.5rem;
  }

  #hero-img {
    width: 80vw;
    height: auto;
    display: none;
  }

  .section-title {
    margin-bottom: 0.5rem;
  }

  .blob-section-border {
    display: none;
  }

  .pricing-content {
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 1rem;
  }

  #pricing-diagram {
    width: 90vw;
    height: auto;
    margin-top: 1rem;
  }
}
