@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-color: #6b86bd;
  --primary-hover-color: #5781d6;
  --text-color: black;
  --text-secondary: #3f3f3f;
  --grey-background: #e5e5e5;
  --gutter: 17vw;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
}
