@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-color: #6b86bd;
  --primary-hover-color: #5781d6;
  --text-color: black;
  --text-secondary: #3f3f3f;
  --grey-background: #e5e5e5;
  --gutter: 17vw;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
}

#navbar {
  height: 80px;
  font-size: 16px;
  background-color: white;
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar-elements {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-list li {
  padding-right: 1rem;
}

.nav-list li a {
  color: black;
  text-decoration: underline solid transparent;
  font-weight: 500;
}

.nav-list li a:hover {
  text-decoration: underline 1.5px solid;
}

.nav-button-outlined {
  background-color: white;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  border-radius: 12px;
  height: 47px;
  width: 140px;
  font-size: 16px;
  font-weight: 500;
  margin: 0.5rem;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-button-outlined:hover {
  background-color: var(--primary-hover-color);
  border: 3px solid var(--primary-hover-color);
  color: white;
}

.nav-button-filled {
  width: 140px;
  height: 47px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav-button-filled:hover {
  background-color: var(--primary-hover-color);
}

.hidden {
  display: none;
}

.forms-button {
  background-color: white;
}

.forms-button:hover {
  background-color: var(--primary-hover-color);
  color: white;
}
