@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-color: #ff3737;
  --text-color: black;
  --text-secondary: #3f3f3f;
  --grey-background: #e5e5e5;
  --gutter: 13vw;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#navbar {
  height: 80px;
  width: 100vw;
  background-color: white;
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
}

#navbar-elements {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-list li {
  padding-right: 1rem;
}

.nav-list li a {
  color: black;
  text-decoration: underline solid transparent;
  font-weight: 500;
}

.nav-list li a:hover {
  text-decoration: underline 1.5px solid;
}

.nav-button-outlined {
  background-color: white;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  border-radius: 12px;
  height: 47px;
  width: 140px;
  font-size: 16px;
  font-weight: 500;
  margin: 0.5rem;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-button-outlined:hover {
  background-color: #ff2323;
  border: 3px solid #ff2323;
  color: white;
}

.nav-button-filled {
  width: 140px;
  height: 47px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav-button-filled:hover {
  background-color: #ff2323;
}

#hero {
  height: 50vh;
  display: flex;
  align-items: center;
  background: linear-gradient(
    286.16deg,
    rgba(212, 59, 59, 0.77) 14.51%,
    rgba(225, 132, 132, 0.609375) 58.62%,
    rgba(251, 75, 75, 0.24) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
}

#hero-text {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: var(--gutter);
}

.title {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  text-align: center;
}

#hero-img {
  width: 30%;
  height: auto;
  margin-left: var(--gutter);
}

.emphasized-text {
  color: var(--primary-color);
}

.hero-subtitle {
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.cta-button {
  width: 210px;
  height: 48px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 16px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #ff2323;
}

#services {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}

.service-div {
  max-width: 25vw;
  text-align: center;
}

.learn-more-button {
  width: 186px;
  height: 40px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 20px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.learn-more-button:hover {
  background-color: #ff2323;
}

.icon-large {
  width: 80px;
  height: auto;
}

#why-alliance {
  padding-top: 2vh;
  background-color: var(--grey-background);
}

#why-content {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  display: flex;
  justify-content: space-between;
}

#why-text {
  text-align: left;
  width: 470px;
  margin-bottom: 3rem;
}

.statistics-content {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.statistics-div {
  margin-left: 3vw;
  margin-right: 3vw;
}

.statistic {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.big-stat {
  font-size: 52px;
  font-weight: 500;
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
}

.stat-label {
  font-weight: 500;
}

#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-text {
  text-align: center;
  max-width: 900px;
}

#cta {
  background-color: var(--primary-color);
  color: white;
}

#cta-content {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
}

#cta-text {
  text-align: left;
}

.cta-title {
  text-align: left;
}
