@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-color: #6b86bd;
  --primary-hover-color: #5781d6;
  --text-color: black;
  --text-secondary: #3f3f3f;
  --grey-background: #e5e5e5;
  --gutter: 15vw;
  --half-gutter: 5vw;
}

.content {
  margin-top: 4rem;
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  text-align: left;
}

.emphasized-text {
  color: var(--primary-color);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
}

.section-title {
  font-size: 34px;
  font-weight: 500;
  padding-top: 2rem;
  margin-bottom: 0.2rem;
}

#top-content {
  margin-top: calc(80px + 10vh);
}

#hero-img {
  width: 420px;
  height: auto;
  margin-right: var(--gutter);
  margin-left: 30px;
}

.hero-content {
  padding-left: var(--gutter);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-text {
  margin-top: 6.5%;
  max-width: 800px;
}

.hero-img-container {
  margin-top: 3%;
}

.cta-button {
  width: 260px;
  height: 58px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 16px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.cta-button:hover {
  background-color: var(--primary-hover-color);
}

.peo-section {
  background-color: #dfe3ec;
  margin-top: 10vh;
  padding-bottom: 3rem;
}

.peo-subtext {
}

.peo-content {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  padding-top: 0.1rem;
  max-width: 60vw;
}

.item-container {
  display: flex;
  align-items: center;
}

.item-text {
  margin-left: 1rem;
}

.pricing-text {
  margin-right: 20px;
  max-width: 700px;
}

.pricing-content {
  margin-left: 15vw;
  margin-right: 15vw;
  padding-top: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blob-section-border {
  position: relative;
}

#pricing-left-wave {
  position: absolute;
  left: 0;
  user-select: none;
  pointer-events: none;
}

#pricing-right-wave {
  position: absolute;
  right: 0;
  user-select: none;
  pointer-events: none;
}

#pricing-diagram {
  max-width: 380px;
  width: 30vw;
  height: auto;
  margin-top: 2rem;
  margin-right: 4vw;
}

@media only screen and (max-width: 768px) {
  :root {
    --gutter: 4vw;
    --half-gutter: 1vw;
  }

  .peo-content {
    max-width: 97vw;
  }

  .svg-div {
    display: none;
  }

  .hero-content {
    flex-direction: column;
    padding-left: 7vw;
    padding-right: 5vw;
  }

  .hero-text {
    margin-top: 0.5rem;
  }

  #hero-img {
    display: none;
  }

  .section-title {
    margin-bottom: 0.5rem;
  }

  .services-row {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
  }

  .services-card {
    margin-bottom: 1rem;
  }

  .blob-section-border {
    display: none;
  }

  .pricing-content {
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 1rem;
  }

  .pricing-title {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }

  .pricing-title h3 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .pricing-title svg {
    display: block;
    margin-right: 0.5rem;
    margin-left: -0.5rem;
  }

  #pricing-diagram {
    width: 90vw;
    height: auto;
    margin-top: 1rem;
  }
}
